#d3best-comments {
	position: fixed;
	right: 20px;
	top: 74px;
	z-index: 10000;
	width: 60px;
	height: 40px;
	background: #bbb;
	border: 1px solid #222;
	overflow-x: hidden;
	overflow-y: hidden;
}

#d3best-comments {
	transition-property: top, height, width;
	transition-duration: 0.2s;
	transition-property: top, height, width;
	-webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

#d3best-comments.state-focus {
	top: 0px;
	right: 0px;
	width: 320px;
	height: 480px;
	overflow-y: auto;
	/*padding: 10px;*/
	box-shadow: 0px 0px 4px 1px rgba(10,10,10,0.5);
}

#d3best-comments .d3best-comment {
	margin-bottom: 1px;
	background: #eee;
}

#d3best-comments .d3best-text {

}

#d3best-comments .d3best-author {
	font-size: 0.7em;
	text-align: right;
	}

#d3best-comments .d3best-vote {
	display: inline-block;
	padding: 1px 4px;
	color: #eee;
	min-width: 30px;
	margin-right: 2px;
	width: 60px;
	height: 40px;
	font-size: 2em;
	font-weight: bolder;
}

#d3best-comments.state-focus .d3best-comment {
	padding: 4px 0;
}

#d3best-comments.state-focus .d3best-vote {
	padding: 4px 0;
	width: auto;
	height: auto;
	font-size: 1em;
	font-weight: normal;
}

#d3best-comments .d3best-vote-minus {
	background: #e22;
}

#d3best-comments .d3best-vote-plus {
	background: #2e2;
}

#d3best-comments .d3best-link {
	display: block;
	text-decoration: none;
	color: #222;
}
