<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{page.title}} - Виджет ненависти для d3.ru</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css">
</head>
<body style="margin-top:40px;">
<div class="container">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Виджет ненависти</a>
    <ul class="nav">
      <li class="active"><a href="/">Про виджет</a></li>
      <li>
        <a href="https://chrome.google.com/webstore/detail/виджет-ненависти-для-d3ru/dkpkhhdhdgjjfbadgaabeaejponogbfe">
            <i class="icon icon-download"></i>
            <strong>Скачать</strong> для Chrome</a>
        </li>
      <li><a href="https://github.com/jsmarkus/chrome-d3-best">Исходники на Github</a></li>
    </ul>
  </div>
</div>
    {{content}}
</div>
</body>
</html>
